<a href="https://colab.research.google.com/github/25041001-cloud/Probabilidad/blob/main/Unidad2/Practica_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Probabilidad y estadistica

##Unidad 2

###Facilitador: José Gabriel Rodriguez Rivas

###Alumno: Luis Ángel Álvarez García

###**Programa 1:** **Combinaciones**

In [1]:
#Basado en el ejercicio de la pagina 25 de la presentación de la unidad 2

import math as mt #Para utilizar factorial
from itertools import combinations
from itertools import combinations_with_replacement
import numpy as np

In [2]:
nombres=["Oscar","Paco","Paty","Laura","Ruben","Luis","Lucy","Alberto","Juan","Danny"]
n = len(nombres)
r = 2 #¿Como agrupar?

Cn = mt.factorial(n)/(mt.factorial(r)*mt.factorial(n-r))

print("Existen ",Cn," posibles combinaciones sin repetición del total de ",n," nombres "," en grupos de ",r," en ",r)

print("Aquí las combinaciones")
combinaciones_nombres = list(combinations(nombres,r))

#Imprime las combinaciones
for combinacion in combinaciones_nombres:
  print(combinacion)

Existen  45.0  posibles combinaciones sin repetición del total de  10  nombres   en grupos de  2  en  2
Aquí las combinaciones
('Oscar', 'Paco')
('Oscar', 'Paty')
('Oscar', 'Laura')
('Oscar', 'Ruben')
('Oscar', 'Luis')
('Oscar', 'Lucy')
('Oscar', 'Alberto')
('Oscar', 'Juan')
('Oscar', 'Danny')
('Paco', 'Paty')
('Paco', 'Laura')
('Paco', 'Ruben')
('Paco', 'Luis')
('Paco', 'Lucy')
('Paco', 'Alberto')
('Paco', 'Juan')
('Paco', 'Danny')
('Paty', 'Laura')
('Paty', 'Ruben')
('Paty', 'Luis')
('Paty', 'Lucy')
('Paty', 'Alberto')
('Paty', 'Juan')
('Paty', 'Danny')
('Laura', 'Ruben')
('Laura', 'Luis')
('Laura', 'Lucy')
('Laura', 'Alberto')
('Laura', 'Juan')
('Laura', 'Danny')
('Ruben', 'Luis')
('Ruben', 'Lucy')
('Ruben', 'Alberto')
('Ruben', 'Juan')
('Ruben', 'Danny')
('Luis', 'Lucy')
('Luis', 'Alberto')
('Luis', 'Juan')
('Luis', 'Danny')
('Lucy', 'Alberto')
('Lucy', 'Juan')
('Lucy', 'Danny')
('Alberto', 'Juan')
('Alberto', 'Danny')
('Juan', 'Danny')