<a href="https://colab.research.google.com/github/25041001-cloud/Probabilidad/blob/main/Unidad1/Practica_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Probabilidad y estadistica

##Unidad 1

###Facilitador: José Gabriel Rodriguez Rivas

###Alumno: Luis Ángel Álvarez García

###**Programa 3:** **Tablas de frecuencias**

In [8]:
#basado en el LIBRO estadística para administración página 12
#creamos una lista vacía que representa la edad de 100 personas
import random
edades=[]
#Hacemos un ciclo para generar 100 números aleatorios que representan la edad de las personas
for i in range(100):
  #generamos un número aleatorio con la función randit y lo guardamos en la variable
  #numero_aleatorio
  numero_aleatorio=random.randint(18,70)
  #Agregamos el número aleatorio a la lista de valores
  edades.append(numero_aleatorio)
#imprimimos la lista de edades
print(edades)

[66, 53, 56, 56, 21, 55, 67, 25, 41, 46, 54, 34, 51, 65, 56, 48, 28, 46, 41, 66, 54, 25, 24, 26, 44, 57, 62, 29, 30, 37, 62, 34, 49, 42, 48, 53, 44, 26, 39, 40, 67, 49, 66, 28, 66, 55, 56, 48, 22, 59, 54, 47, 58, 33, 20, 58, 45, 57, 54, 40, 46, 39, 47, 27, 45, 27, 34, 30, 22, 40, 18, 61, 51, 33, 40, 20, 50, 68, 19, 68, 68, 18, 42, 26, 55, 37, 24, 58, 61, 26, 27, 43, 28, 49, 62, 35, 38, 43, 37, 49]

In [9]:
import pandas as pd

In [10]:
#Crear un DataFrame de pandas con los números aleatorios
df=pd.DataFrame(edades,columns=['Edad'])
df.head()

   Edad
0    66
1    53
2    56
3    56
4    21

In [11]:
#Calcular la tabla de distribución de frecuencias
tabla_frecuencias=df['Edad'].value_counts().reset_index()
tabla_frecuencias.columns=['Edad','Frecuencia']
tabla_frecuencias=tabla_frecuencias.sort_values(by='Edad')

#imprimir la tabla de distribución de frecuencias
print("Tabla de Distribución de Frecuencias:")
tabla_frecuencias

Tabla de Distribución de Frecuencias:

    Edad  Frecuencia
28    18           2
40    19           1
31    20           2
35    21           1
34    22           2
25    24           2
17    25           2
5     26           4
11    27           3
7     28           3
37    29           1
29    30           2
32    33           2
9     34           3
41    35           1
10    37           3
42    38           1
23    39           2
3     40           4
20    41           2
21    42           2
27    43           2
22    44           2
33    45           2
6     46           3
30    47           2
13    48           3
4     49           4
39    50           1
26    51           2
16    53           2
2     54           4
8     55           3
1     56           4
24    57           2
14    58           3
38    59           1
19    61           2
15    62           3
36    65           1
0     66           4
18    67           2
12    68           3

In [12]:
tabla_frecuencias['Frec Relativa']=tabla_frecuencias['Frecuencia']/100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa
28    18           2           0.02
40    19           1           0.01
31    20           2           0.02
35    21           1           0.01
34    22           2           0.02
25    24           2           0.02
17    25           2           0.02
5     26           4           0.04
11    27           3           0.03
7     28           3           0.03
37    29           1           0.01
29    30           2           0.02
32    33           2           0.02
9     34           3           0.03
41    35           1           0.01
10    37           3           0.03
42    38           1           0.01
23    39           2           0.02
3     40           4           0.04
20    41           2           0.02
21    42           2           0.02
27    43           2           0.02
22    44           2           0.02
33    45           2           0.02
6     46           3           0.03
30    47           2           0.02
13    48           3           0.03
4     49           4           0.04
39    50           1           0.01
26    51           2           0.02
16    53           2           0.02
2     54           4           0.04
8     55           3           0.03
1     56           4           0.04
24    57           2           0.02
14    58           3           0.03
38    59           1           0.01
19    61           2           0.02
15    62           3           0.03
36    65           1           0.01
0     66           4           0.04
18    67           2           0.02
12    68           3           0.03

In [13]:
tabla_frecuencias['Frec Porcentual']=tabla_frecuencias['Frecuencia']/100*100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa  Frec Porcentual
28    18           2           0.02              2.0
40    19           1           0.01              1.0
31    20           2           0.02              2.0
35    21           1           0.01              1.0
34    22           2           0.02              2.0
25    24           2           0.02              2.0
17    25           2           0.02              2.0
5     26           4           0.04              4.0
11    27           3           0.03              3.0
7     28           3           0.03              3.0
37    29           1           0.01              1.0
29    30           2           0.02              2.0
32    33           2           0.02              2.0
9     34           3           0.03              3.0
41    35           1           0.01              1.0
10    37           3           0.03              3.0
42    38           1           0.01              1.0
23    39           2           0.02              2.0
3     40           4           0.04              4.0
20    41           2           0.02              2.0
21    42           2           0.02              2.0
27    43           2           0.02              2.0
22    44           2           0.02              2.0
33    45           2           0.02              2.0
6     46           3           0.03              3.0
30    47           2           0.02              2.0
13    48           3           0.03              3.0
4     49           4           0.04              4.0
39    50           1           0.01              1.0
26    51           2           0.02              2.0
16    53           2           0.02              2.0
2     54           4           0.04              4.0
8     55           3           0.03              3.0
1     56           4           0.04              4.0
24    57           2           0.02              2.0
14    58           3           0.03              3.0
38    59           1           0.01              1.0
19    61           2           0.02              2.0
15    62           3           0.03              3.0
36    65           1           0.01              1.0
0     66           4           0.04              4.0
18    67           2           0.02              2.0
12    68           3           0.03              3.0

In [14]:
tabla_frecuencias['Frec Acumulada']=tabla_frecuencias['Frecuencia'].cumsum()
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa  Frec Porcentual  Frec Acumulada
28    18           2           0.02              2.0               2
40    19           1           0.01              1.0               3
31    20           2           0.02              2.0               5
35    21           1           0.01              1.0               6
34    22           2           0.02              2.0               8
25    24           2           0.02              2.0              10
17    25           2           0.02              2.0              12
5     26           4           0.04              4.0              16
11    27           3           0.03              3.0              19
7     28           3           0.03              3.0              22
37    29           1           0.01              1.0              23
29    30           2           0.02              2.0              25
32    33           2           0.02              2.0              27
9     34           3           0.03              3.0              30
41    35           1           0.01              1.0              31
10    37           3           0.03              3.0              34
42    38           1           0.01              1.0              35
23    39           2           0.02              2.0              37
3     40           4           0.04              4.0              41
20    41           2           0.02              2.0              43
21    42           2           0.02              2.0              45
27    43           2           0.02              2.0              47
22    44           2           0.02              2.0              49
33    45           2           0.02              2.0              51
6     46           3           0.03              3.0              54
30    47           2           0.02              2.0              56
13    48           3           0.03              3.0              59
4     49           4           0.04              4.0              63
39    50           1           0.01              1.0              64
26    51           2           0.02              2.0              66
16    53           2           0.02              2.0              68
2     54           4           0.04              4.0              72
8     55           3           0.03              3.0              75
1     56           4           0.04              4.0              79
24    57           2           0.02              2.0              81
14    58           3           0.03              3.0              84
38    59           1           0.01              1.0              85
19    61           2           0.02              2.0              87
15    62           3           0.03              3.0              90
36    65           1           0.01              1.0              91
0     66           4           0.04              4.0              95
18    67           2           0.02              2.0              97
12    68           3           0.03              3.0             100